{% extends '@a/layout.twig' %}
{% block content %}

    <script>
        document.querySelectorAll('.description')
            .forEach(function (item) {
                item.addEventListener('blur', function (e) {
                    let body = {
                        'comment': item.innerText,
                        'id': item.getAttribute('data-id')
                    }
                    fetch('{{ path('admin/gallery/updateDescription') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8',
                        },
                        body: JSON.stringify(body)
                    }).then((response) => {
                        return response.json()
                    })
                });
            });

        document.querySelectorAll('.title')
            .forEach(function (item) {
                item.addEventListener('blur', function (e) {
                    let body = {
                        'comment': item.innerText,
                        'id': item.getAttribute('data-id')
                    }
                    fetch('{{ path('admin/gallery/updateTitle') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8',
                        },
                        body: JSON.stringify(body)
                    }).then((response) => {
                        return response.json()
                    })
                });
            });
    </script>

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Галерея</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a class="btn btn-outline-dark" href="{{ path('admin/gallery/upload') }}"><i class="fa fa-upload"></i>
                    Загрузить с компьютера</a>
                <a class="btn btn-outline-dark" href="{{ path('admin/gallery/download') }}"><i class="fa fa-globe"></i>
                    Загрузить из интернета</a>
                <div class="row mt-3">
                    {% for image in images %}
                        <div class="col-md-12 card m-3">
                            <a href="{{ config.getStorageUpload(image.storage).url(image.filename)  }}">
                                <img class="img py-3"
                                     src="{{ config.getStorageUpload(image.storage).url(image.filename|replace({'.': '_thumb.'}))  }}"/>
                            </a>
                            <div>Название:
                                <div class="title font-weight-bold border-1 border p-1" data-id="{{ image.getId }}"
                                     contenteditable="true">
                                    {{ image.getTitle }}
                                </div>
                            </div>
                            <div>Описание:
                                <div class="description border-1 border p-1" data-id="{{ image.getId }}"
                                     contenteditable="true">
                                    {{ image.getDescription }}
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-sm btn-danger my-3"
                                   href="{{ path('admin/gallery/delete', {"id": image.getId}) }}">удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
